@font-face {
    font-family: basicTitle;
    src: url(../fonts/basictitlefont.ttf);
}

@font-face {
    font-family: overpass;
    src: url(../fonts/Overpass-ExtraLight.ttf);
}

@font-face {
    font-family: avenirNext;
    src: url(../fonts/avenir.ttc);
}

.section {
    background-color: rgb(133, 72, 83);
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    /*Blurs*/
    -webkit-filter: blur(0px);
    /*    -moz-filter: blur(3px);*/
    /*    -o-filter: blur(3px);*/
    /*    -ms-filter: blur(3px);*/
    /*    filter: blur(10px);*/
}

.logoContainer {
	border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-top: 15%;
    margin-left: 3em;
    height: 22em;
    width: 22em;
/*    align-content: center;*/
}

.logo {
    margin-top: 20%;
    max-height: 14vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.videoOverlay {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

.cover {
    position: relative;
    text-align: center;
}

.title {
    font-family: basicTitle;
    font-weight: 600;
    color: #854853;
    font-size: 18em;
    margin-bottom: 0;
    
    display:inline-block;
    word-wrap: break-word;
    margin: auto;
    
    margin-top: 10%;
}

.subtitle {
    font-family: basicTitle;
    color: #854853;
    font-size: 2.5em;
    margin-top: 0;
}

.subhead {
    text-align: center;
    font-size: 6em;
    margin-top: 5%;
    font-family: overpass;
    text-transform: uppercase;
    color: whitesmoke;
}

.subDescription {
    font-size: 1.5em;
    font-family: avenir;
    color: whitesmoke;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 3vw;
}

.aboutUs {
    height: 100%;
}

.aboutDescription {
    font-size: 1.4em;
    margin-top: 1%;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-family: avenir;
    color: whitesmoke;
}

.theTeam {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

















.overlayContainer {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: white;
}

.overlay {
    position: absolute;
    background-color: #252222;
    height: 500px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    bottom: 0;
}

.xbtn {
    background-color: red;
    position: fixed;
    right: 0;
    margin-right: 2em;
    margin-top: 2em;
    background-color: transparent;
    color: #252222;
    width: 3em;
    opacity: 0;
    z-index: 200;
}

.text {
/*    position: fixed;*/
    position: absolute;
    /* center the element */
    bottom: 0%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(37,34,34,0.5);
}

.coverTitle {
    text-align: center;
    color: white;
    font-size: 4em;
    margin-top: 0.5em;
    font-family: overpass;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.coverPosition {
    text-align: center;
    color: white;
    font-size: 2.2em;
    margin-top: -1em;
    font-family: overpass;
    text-transform: uppercase;
    font-weight: 600;
}

.coverDescription {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 2em;
    font-family: avenirNext;
/*    font-weight: 100;*/
}

h1 {
    color: white;
    font-size: 6em;
}

h5 {
    color: white;
    font-size: 2em;
    padding-top: 10px;
}

.box {
    width: 12em;
    height: 12em;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.full {
    background-size: cover;
}

.personBio {
    display: none;
}

.box img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.box .boxOverlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    justify-content: center;
    text-align: center;
}

.boxOverlay p {
    margin-top: 5%;
    color: aliceblue;
    font-size: 1.5em;
    opacity: 1;
}

.personName {
	display: none;
}

.personPosition {
	display: none;
}











.videoCard {
    margin-bottom: 5em;
}

.videoThumbnail {
    border-radius: 10px;
    height: 20em;
    width: 28vw;
    
    margin-right: 1vw;
    margin-left: 1vw;
    
    display: block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.playBtn {
	max-height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

.videos {
	padding-top: 2em;
}

.videoName {
    font-family: overpass;
    font-size: 2.2em;
    padding-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: -0.4em;
    text-transform: uppercase;
    color: white;
}



.awards {
	padding-top: 2em;
}

.awardImage {
    width: 60vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 50% 50%;
    border-radius: 10px;
}

.awardRow {
	margin-top: 5em;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3em;
}

.awardName {
	color: white;
    font-family: overpass;
    text-transform: uppercase;
    font-size: 3em;
    
    margin-right: 1em;
    margin-left: 1em;
}

.awardDescription {
	color: aliceblue;
    font-size: 1.2em;
    font-family: avenir;
    
    margin-right: 1em;
    margin-left: 1em;
}

.robot {
    padding-bottom: 5em;
}

.robotModel {
	display: block;
    width: 60vw;
    height: 60vh;
}



















.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #854853;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #854853;
}

.pace.pace-inactive {
  display: none;
}